/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://unpkg.com/tailwindcss/dist/base.css
 */
@tailwind base;

/**
 * Remove the default box-shadow for invalid elements to prevent
 * inputs in Livewire components showing with a
 * red border by default in Firefox.
 *
 * See: https://github.com/laravel-frontend-presets/tall/issues/7
 */
input:invalid, textarea:invalid, select:invalid {
    box-shadow: none;
}

/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 */

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

[x-cloak] {
    display: none;
}

.z-depth-1 {
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 6px 0;
}

.preloader-background {
    align-items: center;
    background-color: #FACC15;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

body {
    font-family: 'Varela Round', sans-serif;
    @apply antialiased;
}

body[data-mode="dark"] .preloader-background {
    background-color: #263238;
}

body.ajax .preloader-background,
body.ajaxurl .preloader-background {
    z-index: 999;
}

body.ishome.ajax .preloader-background,
body.ishome.ajaxurl .preloader-background {
    z-index: 99999;
}

.sidebar-tab-item {
    @apply bg-gray-200 rounded-md transition-all;
    display: flex;
    font-size: 0.9rem;
    align-items: center;
    justify-items: center;
    border-radius: .375rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    padding-left: .5rem;
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity))
}

.sidebar-tab-item:hover {
    @apply bg-gray-200/75;
}

.sidebar-tab-item:focus {
    --tw-text-opacity: 1;
    color: rgb(24 182 155 / var(--tw-text-opacity))
}

:is(.dark .sidebar-tab-item) {
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity))
}

:is(.dark .sidebar-tab-item:hover) {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity))
}

.sidebar-tab-item.active {
    @apply bg-amber-200;
}

:is(.dark .sidebar-tab-item.active) {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity))
}

.sidebar-tab-item.\!active {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(24 182 155 / var(--tw-text-opacity))
}

:is(.dark .sidebar-tab-item.\!active) {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity))
}

#preloader {
    animation: spin 1.5s linear infinite;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top-color: #85c1e9;
    display: block;
    height: 100px;
    left: 50%;
    margin: -50px 0 0 -50px;
    position: relative;
    top: 50%;
    width: 100px;
    z-index: 1001;
}

#preloader:before {
    animation: spin 2.5s linear infinite;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top-color: #3498db;
    bottom: 5px;
    content: "";
    left: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
}

#preloader:after {
    animation: spin 2s linear infinite;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top-color: #85c1e9;
    bottom: 15px;
    content: "";
    left: 15px;
    position: absolute;
    right: 15px;
    top: 15px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1turn);
    }
}
